{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "tsconfigRootDir": "./"
  },
  "settings": {
    "import/extensions": [".ts"]
  },
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "rules": {
    "prefer-const": "error",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-explicit-any": 2,
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-multi-space": "off"
  }
}
